/*============
  GLOBAL
 ============*/

:root {
        --background: #1e1e1e;
        --dark-blue: #193873;
        --blue: #2c63d6;
        --bright-blue: #477ee8;
        --text: #f1f3f6;
        --muted-text: #aeb7c5;
        --border: #365da8;
    --sidebar-background: #191919;

    }
    html {
        scroll-behavior: smooth;
    }
body {
        margin: 0;
        font-family: "Space Grotesk", sans-serif;
        color: var(--text);
        min-height: 100vh;
    }
h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}
/*===============
   BACKGROUND
   =============*/
.content {
    flex: 1;
    background:
            radial-gradient(
                    circle at top right,
                    var(--bright-blue) 0%,
                    transparent 55%
            ),
            linear-gradient(
                    110deg,
                    var(--background) 0%,
                    var(--dark-blue) 35%,
                    var(--blue) 75%,
                    var(--bright-blue) 100%
            );
}

/*==============
   SIDEBAR
================*/

#sidebar-hero {
   height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#sidebar-hero-image {
    width: 80px;
    height: 150px;
    object-fit: contain;
    transform: scaleX(-1);
}
.sidebar {
    position: fixed;
    width: 160px;
    height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--sidebar-background);
    border-right: 1px solid var(--border);
}
.sidebar nav {
  display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}
.sidebar a {
    color: var(--text);
    text-decoration: none;
}
.sidebar a:hover {
    color: var(--bright-blue);
    text-decoration: underline;
}
/*=================
SHARED PAGE LAYOUT
===================*/

.page {
    min-height: 100vh;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
}
.page-header {
    padding: 30px 60px;
    border-bottom: 1px solid var(--border);
}
.page-header h1 {
    margin: 0;
}
.page-header p{
    font-size: 13px;
}
section {
    padding: 40px;
    box-sizing: border-box;
}
/*==============
 HOMEPAGE
 ==============*/
.hero {
    display: flex;
    justify-content: flex-end;
}
.hero-image {
    width: 400px;
    max-width: 100%;
    height: auto;
}
/*contact-list*/
.contact-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
footer {
    padding: 20px 20px;
    border-top:1px solid var(--border);
    background-color: var(--sidebar-background);
}
.contact-list a {
    color: var(--muted-text);
    text-decoration: none;
    font-size: 14px;
}
.contact-list a:hover {
    text-decoration: underline;
    color: var(--bright-blue);
}
/*==========
   ABOUT
 =========*/
.about-text {
margin: 0;
padding: 40px 60px;
}
.about-text p {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 20px;
}
.about-image {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}
.EK-link {
    color: var(--text);
}
.EK-link:hover {
    text-decoration: underline;
    color: var(--bright-blue);
}

/*=================
  EducationAndJobs
  =================*/

.educations-and-jobs-text {
    margin: 0;
    padding: 40px 60px 10px;
}
.educations-and-jobs-text p {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 20px;
}
.educations-and-jobs-list {
    margin: 0;
    padding: 10px 60px 40px;
    font-size: 16px;
    line-height: 1.6;
    display: block;
}
.educations-and-jobs-list span {
    display: block;
}

/*===========
  projects
  ==========*/

.projects-loading-gif {
   display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
}
.projects-loading-text {
 text-align: center;
    margin-top: 10px;
}
.projects-loading-dots {
    display: inline-block;
    width: 30px;
    text-align: left;
}

.projects-loading-dots:after {
    content: "";
    animation: loading-dots 1.5s infinite;
}
@keyframes loading-dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }

}
/*=========
   PHONE
============*/

@media screen and (max-width: 500px) {
    /*sidebar*/
    .sidebar {
        width: 95px;
        padding: 15px;
        font-size: 11px;
    }
    .page {
        margin-left: 95px;
    }
    #sidebar-hero {
        height: 60px;
    }
    #sidebar-hero-image {
        width: 55px;
        height: 80px;
    }
    /*Home*/
    .hero {
       justify-content: center;
    }
.hero-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.contact-list {
    flex-direction: column;
    gap: 8px;
}
/*About*/
    .about-text {
        padding: 25px;
    }

    .about-image {
        width: 70%;
        height: auto;
        margin: 25px auto 40px;
    }
    /*EducationAndJobs*/
    .educations-and-jobs-text {
        padding: 25px;
    }
    .educations-and-jobs-list {
        padding: 25px;
    }
footer {
    padding: 20px;
}
}